@model Pat

@{
    ViewData["Title"] = "Register";
}
<div class="container pt-2">
    <form method="post" asp-action="Login">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Log In</h2>
                <hr />
            </div>
            <div asp-validation-summary="ModelOnly"></div>

            <div class="mb-3">
                <label asp-for="PatId">user ID</label>
                <input asp-for="PatId" class="form-control" />
                <span asp-validation-for="PatId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PatPassword">Password</label>
                <input asp-for="PatPassword" class="form-control" />
                <span asp-validation-for="PatPassword" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-primary" style="width:150px">login</button>
            
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}

